@import "tailwindcss";


.message-time {
    font-size: 0.7rem;
    margin-top: 0.3rem;
}

.chat-container {
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)),
        url('https://numan-dev.web.app/images/my-pic.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.typing-indicator span {
    animation: blink 1.5s infinite;
    margin-right: 2px;
}

@keyframes blink {
    0% { opacity: 0.2; }
    20% { opacity: 1; }
    100% { opacity: 0.2; }
}

.typing-indicator span:nth-child(2) { animation-delay: 0.2s; }
.typing-indicator span:nth-child(3) { animation-delay: 0.4s; }

